body {
    margin: 0;
    font-family: 'Carme', sans-serif;
    font-size: 18px;
    color: #212427;
}

/* typography */

h2 {
    margin: 10px 0 0 0;
    text-align: center;
}

h3, p {
    margin: 6px 0 0 0;
}

/* layout */

.container {
    width: 500px;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #D0F0F7;
}

main {
    padding: 0 15px 15px 15px;
}

/* buttons */
button:hover,
button:focus {
    cursor: pointer;
}

/* Header */
header {
    height: 150px;
    padding: 15px;
    background: #D0F0F7;
    text-align: center;
    border-bottom: 2px solid white;
}

.header-img {
    height: 100%;
}

/* Menu */
.dish-section {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid white;
}

.dish-desc {
    flex-grow: 1;
    margin: 0 15px;
}

.dish-img {
    width: 70px;
    height: 70px;
}

.add-delete-btns { 
/* div for buttons */
    width: 40px;
    margin-right: 15px;
}

.dish-count-btn {
    font-size: 30px;
    color: #F7615F;
    border-radius: 50%;
    border: 2px #F7615F solid;
    margin: 2px 0 0 5px;
    padding: 5px 10px;
    background-color: transparent;
}

.decrement-dish-btn {
    padding:  0 12.15px;
    font-size: 40px;
}

/* Order */
.order-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #253D6E;
    background-color: #F7615F;
    border: 2px white solid;
}

.order-details {
    text-align: center;
}

.order-dish {
    display: flex;
    align-items: center;
}

.order-dish-price {
    flex-grow: 1;
    text-align: right;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: solid 3px #253D6E;
}

.remove-dish-btn {
    display: inline-block;
    font-size: large;
    text-decoration: underline;
    height: 20px;
    border: 0;
    padding: 0;
    margin: 0 10px;
    background: transparent;

}

.complete-order-btn {
    font-family: 'Carme', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #253D6E;
    width: 60%;
    margin: 20px auto 10px;
    padding: 10px 20px;
    border: 0;
    border-radius: 2px;
    background-color: white;
}

/* bank details modal */
.card-details-modal {
    width: 350px;
    height: 340px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #A9F0E0;
    font-size: 20px;
    padding: 0 20px 20px 20px;
}

.pay-header {
    text-align: center;
    padding-top: 20px;
}

.pay-header-h2 {
    display: inline-block;
    margin: 0 35px 0 45px;
}

.close-pay-btn {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    background: transparent;
}
.pay-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
}

.pay-form input {
    padding: 10px 5px;
    margin: 10px;
    border-radius: 2px;
}

.pay-form button {
    line-height: 20px;
    padding: 10px 5px;
    margin: 20px;
    font-size: 20px;
    border-radius: 2px;
}

.hidden {
    display: none;
}

.fade {
    filter: grayscale(30%);
    opacity: 30%; 
}